.promo-box {
  max-width: 970px;
  max-height: 250px;
  aspect-ratio: 970 / 250;
}

.promo-970x250 {
  position: relative;
  display: grid;
  grid-template-areas: 'content';
  height: 100%;
  overflow: hidden;
  border: 1px solid #000;
}

@supports not (aspect-ratio: 970 / 250) {
  .promo-970x250 {
    position: relative;
    padding-top: 26.15%;
    padding-top: calc(250 / 970 * 100%);
    overflow: hidden;
  }

  .promo-970x250 > .landscape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
