.snowflake {
  display: block;
  z-index: 10;
  width: var(--snowflake-size, 30px);
  height: var(--snowflake-size, 30px);
  position: absolute;
  top: calc(var(--snowflake-size, -30px) * -1);
  animation: snowtime var(--speed, 8s) linear var(--delay, 0);
  border-radius: 50%;
  background-color: hsla(var(--hue, 50), 100%, 90%, .15);
}

.snowflake path {
  fill: hsl(var(--hue, 50), 100%, var(--lightness, 75%));
}
