@keyframes parallax {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes snowtime {
  from {
    transform: translate(var(--snowflake-position, 0), calc(var(--snowflake-size, -30px) * -1));
  }
  to {
    transform: translate(var(--snowflake-position, 0), calc(var(--box-height) + var(--snowflake-size))) rotate(var(--rotation, 180deg));
  }
}
